@import url("https://use.typekit.net/tep2ywt.css");
@import "tailwindcss";

@theme {
  --color-brand-off-white: oklch(0.946 0.0256 63.74);
  --color-brand-blue: oklch(0.6217 0.15 243.26);
  --color-brand-raisin: oklch(0.2933 0.0168 338.38);
  --color-brand-black: oklch(0.22 0 0);
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --tracking-widest: 0.25em;
  --breakpoint-3xl: 120rem;
  --swiper-theme-color: #f8e8da;
}

@layer base {
  b, strong {
    @apply font-semibold;
  }

  :root {
    --swiper-theme-color: var(--color-brand-off-white);
    --swiper-navigation-color: var(--color-brand-off-white);
    --swiper-pagination-color: var(--color-brand-off-white);
  }
}

::selection {
  @apply bg-brand-blue text-brand-off-white
}

html {
  @apply z-1 min-w-90
}

.prose .anchor {
  @apply absolute invisible no-underline -ml-4 pr-2 w-4/5 max-w-175 cursor-pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700 content-["#"];
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose p {
  @apply my-3 text-neutral-800 md:text-lg text-pretty;
}

.prose h1 {
  @apply text-2xl md:text-4xl font-semibold mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-semibold mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-semibold mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium mt-6 mb-2;
}

.prose strong {
  @apply font-semibold;
}

.prose ul, ol {
  @apply pl-6 my-4;
}

.prose ul {
  @apply list-disc;
}

.prose ul > li, .prose ol > li {
  @apply mb-1;
}

.prose ol {
  @apply list-decimal;
}

.prose-header {
  @apply mb-6 lowercase text-4xl font-serif;
}

.prose-grid-3 {
  @apply grid sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full;
}

.prose-grid-2 {
  @apply grid sm:grid-cols-2 gap-x-12 lg:gap-x-36 gap-y-5 sm:gap-y-12;
}

.prose > :first-child {
  @apply mt-0
}

/* Remove Safari input shadow on mobile */
input[type="text"], input[type="email"] {
  @apply appearance-none
}

table {
  @apply block max-w-fit overflow-x-auto whitespace-nowrap
}