@import url("https://use.typekit.net/tep2ywt.css");
@import "tailwindcss";

@theme {
  --color-brand-off-white: oklch(0.946 0.0256 63.74);
  --color-brand-blue: oklch(0.6217 0.15 243.26);
  --color-brand-raisin: oklch(0.2933 0.0168 338.38);
  --color-brand-black: oklch(0.22 0 0);
  --font-sans: "Poppins";
  --tracking-widest: 0.25em;
  --breakpoint-3xl: 120rem;
}

@layer utilities {
  .container {
    all: unset;
    @apply block w-11/12 px-6 md:px-12 mx-auto 3xl:w-[1746px]
  }
}

::selection {
  background-color: var(--color-brand-blue);
  color: #fefefe;
}

html {
  z-index: 1;
  min-width: 360px;
}

/* .glow {
  position: relative;
}

.glow::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: radial-gradient(#276fe0, var(--color-brand-off-white) 60%);
  filter: blur(1rem);
}

.glow-title::after {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
}

.glow-xl::after {
  left: 50%;
  transform: translate(-50%, -42.5%);
  width: 95vw;
  height: 95vw;
  max-width: 1024px;
  max-height: 1024px;
}

@media (max-width: 640px) {
  .glow-xl::after {
    background: radial-gradient(#276fe0, var(--color-brand-off-white) 85%);
  }
} */

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose p {
  @apply my-3 text-neutral-800 md:text-lg text-pretty;
}

.prose h1 {
  @apply text-4xl font-bold mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-bold mt-6 mb-2;
}

.prose h3 {
  @apply font-semibold mt-8 mb-1;
}

.prose h4 {
  @apply text-lg font-medium mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul,
ol {
  @apply pl-6 my-4;
}

.prose ul {
  @apply list-disc;
}

.prose ul > li,
.prose ol > li {
  @apply mb-1;
}

.prose ol {
  @apply list-decimal;
}

.prose > :first-child {
  /* Force remove top margin on first child */
  margin-top: 0 !important;
}

.prose-header {
  @apply mb-6 lowercase text-4xl font-serif;
}

.prose-grid-3 {
  @apply grid sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full;
}

.prose-grid-2 {
  @apply grid sm:grid-cols-2 gap-x-12 lg:gap-x-36 gap-y-5 sm:gap-y-12;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
